<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/add-task">Add Task</a>
        </nav>
        <h1>Edit Task</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label>Task</label>
            <input type="text" name="tk" value="{{todo.task}}">
            <label >Completion Status</label>
            <input type="checkbox" name="status" value="True" {% if todo.is_completed %} checked {% endif %}>
            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>
</html>